<h1><%= @cocktail.name %></h1>

<%= link_to "All Cocktails", cocktails_path %>
<%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail) %>
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to delete this cocktail? "} %>
